*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(255, 255, 255);
    font-family: "Inconsolata", serif;
}
/* Header */
.header{
    /* width: 1280px; */
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.header .menu{
    align-items: center;
    display: block;
}
.header .menu .mune a{
    display: block;
    color: black;
    text-decoration: none;
}
.header img,a{
    display: none;
}
/* main */
.main hr{
    margin-left: 90px;
    margin-right: 90px;
}
.main .main_1{
    
    background-color: rgb(255, 255, 255);
    align-items: center;
    font-size: 200%;
    padding: 100px;
}
.main .main_1 .content h1{
    font-size: 300%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main .main_1 .content .p1,.p2 p{
    opacity: 60%;
}
.main .main_1 .content .p1{
    display: block;
}
.main .main_1 .content .p2{
    display: none;
}
.main .main_2{
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-bottom: 100px;  

}
.main .main_2 img{
    margin-bottom: 20px;
}
.main .main_2 .content{
    
    width: 20%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.main .main_3{
    background-color: rgb(255, 255, 255);

}
.main .main_3 h3{

    text-align: center;
    margin: 30px;
}
/* footer */
.footer{
    padding-bottom: 50px;
}
.footer .text{
    width: 30%;
    background-color: rgb(255, 255, 255);
}
.footer .text i{
    font-size: 150%;
    margin: 5px;
}
.footer .com{
    width: 40%;
    background-color: rgb(255, 255, 255);
}
.footer .com input{
    height: 50px;
    background-color: #F3F3F3;
    border-radius: 0;
}
.footer .com textarea{
    background-color: #F3F3F3;
    border-radius: 0;
}
.footer .com button{
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
@media screen and (max-width: 768px) {
    
    .header .menu .mune{
        display: none;
    }
    .header img,a{
        margin-top: 5px;
        display: block;
    }
    /* main */
    
    .main .d-flex{
        flex-direction: column;
    }
    .main .content{
        text-align: center;
    }
    .main .main_1{
        padding: 50px;
    }
    .main .main_1 .content .p1{
        display: none;
    }
    .main .main_1 .content .p2{
        display: block;
    }
    .main_2{
        flex-direction: column;
        align-items: center;
    }
    .main .main_2 .content{
        margin-bottom: 50px;
        width: 50%;
        text-align: center;
        background-color: rgb(255, 255, 255);
    }
    
    .footer{
        flex-direction: column;
    }
    .footer .text{
        width: 100%;
        margin-bottom: 50px;
    }
    .footer .com{
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
}